Segundo examen parcial
Alumno: César Alejandro Barrera Martínez 
Mat:1618509 
Gpo: 001

1.0.1  1.- Dando lista A = [3, 2, 7, 4, 12, 9, 6, 1] desarrolla los siguientes 3 ejercicios.

A)Imprime la sumatoria de todos los elementos.

In [1]:
 A = [3, 2, 7, 4, 12, 9, 6, 1] 
 sum(A)

44

B)Ordenalos de mayor a menor.

In [8]:
def ordburbuja(A):
 
    for dato in range(len(A)-1,0,-1):
 
        for i in range(dato):
 
            if A[i]<A[i+1]:
 
                temp = A[i]
 
                A[i] = A[i+1]
 
                A[i+1] = temp
 
 
A = [3, 2, 7, 4, 12, 9, 6, 1]
 
ordburbuja(A)
 
print(A)

[12, 9, 7, 6, 4, 3, 2, 1]

C)Haz una nueva lista pero solo con sus elementos pares

In [11]:
A = [3, 2, 7, 4, 12, 9, 6, 1]
b=[]
for num in A: 
    if num % 2 == 0:
       b.append(num)
b

[2, 4, 12, 6]

1.0.2  2.- Dale valor a dos variables y realiza 5 funciones que regresen como resultado difer-
entes operaciones aritmeticas (suma, resta, etc...).

In [12]:
A=8
B=10

def suma(A,B):
   return A + B
def resta(A,B):
   return A - B
def multiplicacion(A,B):
   return A * B
def divicion(A,B):
   return A / B
def residuo(A,B):
   return A % B

print(suma(A,B))
print(resta(A,B))
print(multiplicacion(A,B))
print(divicion(A,B))
print(residuo(A,B))

18
-2
80
0.8
8

1.0.3  3.- Dada la lista A = [3, 2, 7, 4, 12, 9, 6, 1] y lista B = [13, 16, 21, 34, 18, 17, 11, 10] crea una
lista nueva que contenga solo los datos impares de ambas listas.

In [25]:
A = [3, 2, 7, 4, 12, 9, 6, 1]
B = [13, 16, 21, 34, 18, 17, 11, 10] 

for num in A: 
    if num % 2 != 0:
       b.append(num)

for num in B: 
    if num % 2 != 0:
       b.append(num)
b

[3, 7, 9, 1, 3, 7, 9, 1, 13, 21, 17, 11]

1.0.4 4.- Dadas las variables W = 11, X = 17, Y = 32, Z = 65, crea una función que clasiﬁque por grupos de edad (niño, adolecente, adulto, adulto mayor. (Utiliza el elif)

In [33]:
X = 9
B = 17
C = 35
D = 80

def edades(edad): 
    if edad<12:
        print("La edad es de un niño")    
    elif edad>=12 and edad<18:        
        print("La edad es de un adolescente")    
    elif edad>=18 and edad<60:            
        print("La edad es de un adulto")    
    elif edad>=60 and edad<100:        
        print("La edad es de un adulto mayor")    
    return " "

print(edades(X)) 
print(edades(B)) 
print(edades(C)) 
print(edades(D))

La edad es de un niño

La edad es de un adolescente

La edad es de un adulto

La edad es de un adulto mayor

1.0.5 5.- Utilizando cualquiera de las condicionales (for, if, while...) imprime los siguientes patrones tal y como aparecen en el comentario, respetando los espacios y los saltos de renglon.

In [44]:
for num in range(6): 
    H=num
    for num in range(num): 
        print (H, end=" ") 
    print("\t")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [47]:
H=6 
for num in range(5): 
    aux=H 
    H=H-1 
    for num in range(5-num): 
        aux=aux-1 
        print (aux, end=" ") 
    print("\t")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

1.0.6 6.- Con la lista A = [3, 2, 7, 4, 12, 9, 6, 1] y el uso de condicionales, imprime una nueva lista con cada uno de los elementos de la lista A, al cuadrado.

In [53]:
A = [3, 2, 7, 4, 12, 9, 6, 1] 
T=[] 
for num in A: 
    ele=pow(num,2) 
    T.append(ele) 
T

[9, 4, 49, 16, 144, 81, 36, 1]